networks:
  graynet:
    driver: bridge

# This is how you persist data between container restarts
volumes:
  mongo_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/data/graylog/mongo"
  opensearch_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/data/graylog/opensearch"
  graylog_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/docker/data/graylog/graylog"

services:
  # Graylog stores configuration in MongoDB
  mongo:
    image: mongo:6.0.27-jammy@sha256:dee14c523c7d9a5492507cd072d840ffe216295bb86b5717e9ceca6545251b66
    container_name: mongodb
    volumes:
      - "mongo_data:/data/db"
    networks:
      - graynet
    restart: always

  # The logs themselves are stored in Opensearch
  opensearch:
    image: opensearchproject/opensearch:2@sha256:9e0b3b3b6805811bd63d9b9503ffe34a58ba33d03cc346000e318c6ff5c05bd9
    container_name: opensearch
    env_file:
      - opensearch.env
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
      - "bootstrap.memory_lock=true"
      - "discovery.type=single-node"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    volumes:
      - "opensearch_data:/usr/share/opensearch/data"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - 9200:9200/tcp
    networks:
      - graynet
    restart: always

  graylog:
    image: graylog/graylog:6.3@sha256:72096b020705f2b2a6212c35e8279bf13a67635d338e23d986672eec9e6ec4db
    container_name: graylog
    env_file:
      - graylog.env
    entrypoint: /usr/bin/tini -- wait-for-it opensearch:9200 -- /docker-entrypoint.sh
    volumes:
      - "${PWD}/config/graylog/graylog.conf:/usr/share/graylog/config/graylog.conf" #FIXME "PWD" might not work in all environments
      - "graylog_data:/usr/share/graylog/data"
    networks:
      - graynet
    restart: always
    depends_on:
      opensearch:
        condition: "service_started"
      mongo:
        condition: "service_started"
    ports:
      - 9000:9000/tcp   # Graylog web interface and REST API
      - 1514:1514/tcp   # Syslog
      - 1514:1514/udp   # Syslog
      - 12201:12201/tcp # GELF
      - 12201:12201/udp # GELF
